*{
    font-family: 'Roboto Slab', serif;
    box-sizing:border-box;
}
h1{
    background: #4aaaa5;
    color: white;
    display: inline-block;
    padding:30px;
    font-size: 30px;
}
p{
    font-size:16px;
    line-height:20px;
    margin-bottom:20px;
    padding: 15px 0 0 0px;
}
.content{
    overflow: auto;
    padding:20px;
    margin-left: auto;
    margin-right:auto;
}
.col-8{
    display: block;
    padding:10px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    float:center;
    color:#777777;
    background-color:white;
    overflow:auto;
}

h2#content{
color: #4aaaa5;
font: 25px bold;
padding:5px;
border-bottom: 2px solid #ccc;
}
.heading1{
    padding-left:20px;
}
body{
    background-color: lightgray;
}
header{
    display:flex;
    flex-wrap: wrap;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 0;
    /* border: 1px solid red;  */
}
[class*="col-8"]{
    float: auto;
    padding:10px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

nav{
    float: right;
    margin: 36px;
    text-align: center;
    padding-right: 20px;
}
nav ul li{
    display: inline-block;
}
nav ul li a {
    color: #333;
    font-size: 18px;
    padding: 5px 15px;
    /* border-right: 2px solid #4aaaa5; */
    text-decoration: none;   
}
nav ul li:last-child a{
    border-right:none;
    padding:none;
}
nav a:hover{
    background: #4aaaa5;
}
form label{
    font-size: 18px;
    display:block;
}
form input, text area {
    width:100%;
    display:block;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    padding:10px;
    font-size:16px;
}
textarea{
    width:100%;
    height: 300px;
}
button{
    background: #4aaaa5;
    color: #fff;
    float:center;
    text-align: center;
    padding: 20px 20px;
    font-size: 16px;
    font:bold;
    border:none;
}
.portfolio-item{
    position: relative;
    background:rgba(0, 0, 0, .5 );
    margin-bottom:20px;
    margin-top:20px;
    width:45%;
    float: left;
    height:250px;
}
.portfolio-item:nth-of-type(odd){
    float:right;
}
.portfolio-item h4{
    background: #4aaaa5;
    color:#fff;
    text-align: center;
    padding: 5% 0;
    width:100%;
    position: absolute;
    bottom:20px;
}
#port1{
    background-image: url("../images/port1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#port2{
    background-image: url("../images/port2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#port3{
    background-image: url("../images/port3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#port4{
    background-image: url("../images/port4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#port5{
    background-image: url("../images/port5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.clearfix{
    display:block;
    clear:both;
    margin-bottom: 130px;
}
.footer {
    background-color: #777777;
    color:white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom:0;
    width:100%; 
    border-top: 6px solid #4aaaa5;

}
.clearfix{
    display:block;
    clear:both;
    margin-bottom: 130px;
}


    @media screen and (max-width: 980px) {
        body {
          background-color: whitesmoke;
        }
        .col-6 {
          /* Box-model */
          width: 50%;
          /* padding: 20px; */
        }
        nav{
            float: right;
            margin: 36px;
            text-align: center;
            padding-right: 10px;
        }
        nav ul li{
            display: inline-block;
        }
        nav ul li a {
            color: #333;
            font-size: 18px;
            padding: 5px 5px;
            /* border-right: 2px solid #4aaaa5; */
            text-decoration: none;   
        }
        nav ul li:last-child a{
            border-right:none;
            padding:none;
        }
        nav a:hover{
            background: #4aaaa5;
        }
        form label{
            font-size: 18px;
            display:block;
        }
      }
      
      /* Additional Screen Sizes */
      
      /* Width at 320px and below */
      @media screen and (max-width: 768px) {
        body {
          background-color:white;
      
        }
        .col-6 {
            /* Box-model */
            width: 50%;
            /* padding: 20px; */
          }
          nav{
            float: right;
            margin: 36px;
            text-align: center;
            padding-right: 5px;
        }
        nav ul li{
            display: inline-block;
        }
        nav ul li a {
            color: #333;
            font-size: 18px;
            padding: 5px 15px;
            /* border-right: 2px solid #4aaaa5; */
            text-decoration: none;   
        }
        nav ul li:last-child a{
            border-right:none;
            padding:none;
        }
        nav a:hover{
            background: #4aaaa5;
        }
        form label{
            font-size: 18px;
            display:block;
        }
        .content{
            overflow: auto;
            padding:20px;
            margin-left: auto;
            margin-right:auto;
        }
        .col-8{
            column-width: 100%;
            display: block;
            padding:10px;
            font-family: Arial, Helvetica, sans-serif;
            justify-content: center;
            float:center;
            color:#777777;
            background-color:white;
            overflow:auto;
        }
        .heading1{
            padding-left: 1%
        }
      
      }
      
      /* Width at 168px and below */
      @media screen and (max-width: 640px) {
        body {
          background-color: whitesmoke;
        }
.col-1 {width: 100%;}
.col-2 {width: 100%;}
.col-3 {width: 100%;}
.col-4 {width: 100%;}
.col-5 {width: 100%;}
.col-6 {width: 100;}
.col-7 {width: 100%;}
.col-8 {width: 100%;}
.col-9 {width: 100%;}
.col-10 {width: 100%;}
.col-11 {width: 100%;}
.col-12 {width: 100%;}

.heading1{
    padding-left: 30px;
    width:100%;
}
.col-6 {
    /* Box-model */
    width: 100%;
    /* padding: 20px; */
  }
        .content{
            column-width: 100%;
            margin:5px;
        }
        .portfolio-item{
            position: relative;
            background:rgba(0, 0, 0, .5 );
            margin-bottom:20px;
            margin-top:20px;
            width:100%;
            float: left;
            height:250px;
        }
        nav{
            float: left;
            margin: 36px;
            text-align: center;
            padding-right: 20px;
        }
        nav ul li{
            display: inline-block;
        }
        nav ul li a {
            color: #333;
            font-size: 18px;
            /* border-right: 2px solid #4aaaa5; */
            text-decoration: none;   
        }
        nav ul li:last-child a{
            border-right:none;
            padding:none;
        }
        nav a:hover{
            background: #4aaaa5;
        }
      }